<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stock!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">Inventory</h1>
    <div>

        <!-- @TODO: write a for loop that lists out your data and accesses the values using dot notation. -->
        <ol style="list-style: none;">
        {% for food in foods %}
        <div class='col-md-4'>
          <div class='card'>
            <div class="card-body">
              <h5 class="card-title">Type: {{food.type}}</h5>
              <p class="card-text">
              Cost: ${{food.cost}}<br>
              Qty in Stock: {{food.stock}}<br>
              => Potential Revenue: ${{food.potential_revenue}}
              </p>
            </div>
        </div>
      </div>
        {% endfor %}
      </ul>

    </div>
  </div>
</body>

</html>
