<!DOCTYPE html>
<html lang="en">

<!-- 
Homework Assignment:
12-Web Scraping and Document Databases - Mission to Mars

@Author: Jeffery Brown (daddyjab)
@Date: 2/21/19
@File: index.html
 -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Web Page Title -->
  <title>Mission to Mars</title>

  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>

<body>
    <!-- Provide a background pictue of the Martian surface for the full page -->
    <div class="bg">
        <div class="container">

            <div class="row">
                <!-- Put the timestamp of the last data scrape in the upper-left -->
                <div class="col-md-2">
                    <div class="last_update">
                        <p>Last Update:<br>{{mi_info.update_timestamp}}</p>
                    </div>
                </div>

                <!-- Banner title for the Page -->
                <div class="col-md-8">
                    <div class="page_banner">
                        <h1 >Mission to Mars</h1>
                    </div>
                </div>

                <!-- Put a fixed-position "Scrape Data!" button in the upper-right -->
                <div class="col-md-2">
                    <div class="fixed-action-btn scape_button">
                        <div class="scrape_button">
                            <a class="btn btn-success" href="/scrape">Scrape<br>Data!</a>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row">
                <div class='col-md-7'>
                    <div class='card'>
                        <div class='featured_image'>
                            <a href={{mi_info.featured_image_dict.featured_image_url}} target='_blank'><img class='card-img-top' src={{mi_info.featured_image_dict.featured_image_url}}></a>
                            <div class="card-body">
                                <h4 class="card-title"><a href={{mi_info.featured_image_dict.featured_image_url}} target='_blank'>Today's Featured Image</a></h4>
                                <p class="card-text">{{mi_info.featured_image_dict.featured_image_title}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='col-md-4 col-md-offset-1'>
                    <div class="row">

                            <div class='card'>
                                <div class='mars_news'>
                                    <a href={{mi_info.news_info_dict.news_info_url}} target='_blank'><img class='card-img-top' src={{mi_info.news_info_dict.news_info_image_url}}></a>
                                    <div class="card-body">
                                        <h4 class="card-title"><a href={{mi_info.news_info_dict.news_info_url}} target='_blank'>Latest Mars News</a></h4>
                                        <div class="card-text">
                                            <h5>{{mi_info.news_info_dict.news_info_title}}<br>({{mi_info.news_info_dict.news_info_date}})</h5>
                                            <p>{{mi_info.news_info_dict.news_info_teaser}}</p>
                                        </div>
                                    </div>                                
                                </div>
                            </div>

                    </div>

                    <br> 

                    <div class="row">
                        <div class='card'>
                            <div class='mars_weather'>
                                <div class="card-body">
                                    <h4 class="card-title"><a href={{mi_info.mars_weather_dict.mars_weather_url}} target='_blank'>Latest Mars Weather</a></h4>
                                    <div class="card-text">
                                        <p>{{mi_info.mars_weather_dict.mars_weather}}</p>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>

                    <br> 
                
                    <div class="row">
                        <div class='card'>
                            <div class='mars_facts'>
                                <div class="card-body">
                                    <h4 class="card-title">Mars Facts</h4>
                                    <!-- <div class="card-text"> -->
                                        <p>{{mi_info.mars_facts_table|safe}}</p>
                                    <!-- </div> -->
                                </div>                                
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <br>                

          <div class="row">

                {% for h in mi_info.hemisphere_image_list  %}
                <div class='col-md-6'>

                    <div class='card'>
                        <div class='hemi_image'>
                            <a href={{ h.h_full_image_url }} target='_blank'><img class='card-img-top' src={{ h.h_full_image_url }}></a>
                            <div class="card-body">
                                <h4 class="card-title"><a href={{ h.h_full_image_url }} target='_blank'>{{ h.h_title }}</a></h4>
                                <p class="card-text">{{ h.h_full_image_desc }}</p>
                            </div>
                        </div>
                    </div>

                </div>
                {% endfor %}
                  
            </div>
        </div>
   </div>

</body>

</html>
